<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ph.ingenuity.listview">

    <application android:allowBackup="true"
                 android:label="@string/app__name"
                 android:icon="@mipmap/ic__launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        
        <activity android:name=".activity.LauncherActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListViewActivity"/>
        <activity android:name=".activity.RecyclerViewActivity"/>
        <activity android:name=".activity.DetailActivity"/>
    </application>

</manifest>
